
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Convergence" />

<style type="text/css">
	h1 {
		text-align: center;
		font-family: Convergence;
		color: white;
		margin-top: 0;
	}

	.container-fluid {
		margin: 0 auto;
	}

	#contentBG {
		background-color: rgba(0, 0, 0, 0.5);
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#content {
		width: 60%;
		margin: 0 auto;
	}
</style>

<div id="centered" class="container-fluid">
	<div class="row" id="contentBG">
		<div id="content">
			<div class="col-xs-12">
				<h1>Find nearby places...</h1>
			</div>
			<div class="col-xs-12">
				<div class="input-group input-group-lg">
					<input id="locationInput" type="text" ng-disabled="processing" class="form-control" ng-model="searchTerm" ng-change="updateLocation()" placeholder="Where will you go next?">
					<span class="input-group-btn">
						<button class="btn btn-primary" ng-click="submit()">
							<span ng-hide="processing">Go</span>
							<span ng-class="{ 'fa fa-spinner fa-spin': processing, 'fa fa-globe': !processing }"></span>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>