<style type="text/css">

body {
	width: 85%;
	margin: 20px auto;
	margin-top: 100px;
	color: white;
}

hr {
	border-color: orange;
}

.well {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid black;
}

.red {
	color: red;
}

.green {
	color: green;
}

</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="well">
				<div ng-repeat="place in locations | limitTo: 10">
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<img ng-show"place.photos" ng-src="{{ place.photos[0].getUrl({ 'maxHeight': 150, 'maxWidth': 200 }) }}">
							<img ng-show="!place.photos" ng-src="{{ place.icon }}">
						</div>
						<div class="col-xs-12 col-sm-9">
							<div class="row">
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-9">
											<h3>{{ place.name }}</h2>
										</div>
										<div class="col-xs-3">
											<h4 align="right">Open: <span ng-class="{ 'fa fa-question': !place.opening_hours, 'fa fa-globe green': place.opening_hours.open_now, 'fa fa-globe red': !place.opening_hours.open_now }"><span></h4>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-6">
											<p>Latitude: {{ place.geometry.location.lat() | number:4 }}</p>
											<p>Longitude: {{ place.geometry.location.lng() | number:4 }}</p>
										</div>
										<div class="col-xs-6">
											<!-- TODO: Photos -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="locationContainer"></div>